@import url("https://fonts.googleapis.com/css2?family=Sigmar&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #532f2f;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

main {
  background-color: #000000ac;
  max-width: 40vw;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 2rem;
  height: 50vh;
}

header {
  display: flex;
  justify-content: center;
}

header h1 {
  font-family: "Sigmar", serif;
  letter-spacing: 0.3rem;
  line-height: 4rem;
  font-size: 4rem;
}

.toDoList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toDoList ul {
  list-style-type: none;
  width: 100%;
  max-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.toDoList ul::-webkit-scrollbar {
  display: none;
}

.toDoList ul li {
  width: 100%;
}

.task {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
  padding: 0.5rem;
  margin: 0.2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-container {
  display: flex;
  gap: 0.3rem;
}

.btn {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
}

.btn:hover {
  cursor: pointer;
}

.delete-btn {
  background-color: #a40000;
  color: #ffffff;
}

.delete-btn:hover {
  background-color: #650000;
}

.edit-btn {
  background-color: #008015;
  color: #ffffff;
}

.edit-btn:hover {
  background-color: #004713;
}

.task-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0.5rem 0 1rem 0;
}

.task-input input {
  border: none;
  width: 80%;
  border-radius: 5px 0 0 5px;
  padding: 0.5rem;
}

.task-input button {
  border: none;
  font-weight: bold;
  width: 15%;
  border-radius: 0 5px 5px 0;
  padding: 0.5rem;
  background-color: #a40000;
  color: #ffffff;
}

.task-input button:hover {
  cursor: pointer;
  background-color: #650000;
}

input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 3px dotted #000000;
  border-radius: 50%;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #a40000;
  border: 3px solid #000000;
}

@media screen and (max-width: 600px) {
  main {
    max-width: 80vw;
  }
}
